// Headings
//
// Only h1-h3 elements should be used.
//
// Markup: headings.hbs
//
// Style guide: typography.headings
h1, h2, h3 {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}
h1 {
  font-size: 2.0em;
  line-height: 1.15em;
}
h2 {
  font-size: 1.5em;
  line-height: 1.25em;
  font-weight: normal;
  margin-bottom: 1em;
}
h3 {
  font-size: 1.2em;
  line-height: 1.40em;
  font-weight: normal;
}
