// Slider
//
// Markup: slider.twig
//
// Style guide: forms.slider
.slider {
  background: #fff;
  color: $border-dark-grey;
  position: relative;
  border: 1px solid $border-grey-v2;
  border-radius: 3px;
  padding: 20px 60px 20px 55px;
  margin-top: .4em;

  // Nested selector is used to add specificity to override jQuerui UI styles.
  .slider__handle {
    width: 2em;
    height: 2em;
    border-radius: 100px;
    top: 50%;
    margin-top: -1em;
    margin-left: -1em;
    text-align: center;
    line-height: 2em;
    padding: 0 1px 0 0;
    background: $navigation-background;
    color: $white;
    cursor: pointer;
    border: 0;
  }
}

.slider__max {
  position: absolute;
  top: 14px;
  right: 21px;
}

.slider__min {
  position: absolute;
  top: 14px;
  left: 23px;
}

.slider__path {
  background: #fbfbfb;
  border: 1px solid $border-grey-v2;
  border-radius: 3px;
}
