@import "https://fonts.googleapis.com/css?family=Lato:300,400,700";
html, body, div, span, applet, object, iframe,
blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: Lato, Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.5em;
}

a {
  color: #1f9ad7;
  text-decoration: none;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

h1, h2, h3 {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}

h1 {
  font-size: 2.0em;
  line-height: 1.15em;
}

h2 {
  font-size: 1.5em;
  line-height: 1.25em;
  font-weight: normal;
  margin-bottom: 1em;
}

h3 {
  font-size: 1.2em;
  line-height: 1.40em;
  font-weight: normal;
}

p {
  margin: 0;
  padding: 0 0 1.5em 0;
  border: 0;
}

ul, ol {
  margin: 0 0 0 25px;
  padding: 0 0 20px 0;
  border: 0;
}

a {
  color: #1f9ad7;
}
a:visited, a.pseudo-class-visited {
  color: #00688f;
}

.styleguide-color {
  padding: 1em;
}

.c-button {
  font-size: 1em;
  line-height: 1.2em;
  display: inline-block;
  margin-right: 0.5em;
  background-color: white;
  color: #000;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  padding: 0.55em 17px;
  vertical-align: top;
}
.c-button:hover, .c-button.pseudo-class-hover {
  border-color: #c0c0c0;
  background-color: #f9f9f9;
}
.c-button:active, .c-button.pseudo-class-active {
  background-color: #efefef;
}

.c-button--blue {
  background-color: #1f9ad7;
  color: #FFFFFF;
  border: 1px solid #1f9ad7;
}
.c-button--blue:hover, .c-button--blue.pseudo-class-hover {
  background-color: #FFFFFF;
  color: #1f9ad7;
}
.c-button--blue:active, .c-button--blue.pseudo-class-active {
  background-color: #FFFFFF;
  color: #1f9ad7;
}

.c-button--green {
  background-color: #AAC506;
  color: #FFFFFF;
  border: 1px solid #AAC506;
}
.c-button--green:hover, .c-button--green.pseudo-class-hover {
  background-color: #FFFFFF;
  color: #AAC506;
}
.c-button--green:active, .c-button--green.pseudo-class-active {
  background: rgba(170, 197, 6, 0.06);
  color: #AAC506;
}

.c-button--grey {
  background-color: #A9A9A9;
  color: #FFFFFF;
  border: 1px solid transparent;
}
.c-button--grey:hover, .c-button--grey.pseudo-class-hover {
  background-color: #FFFFFF;
  border: 1px solid #666;
  color: #666;
}

.c-button--with-arrow {
  border: none;
  padding-left: 0;
  padding-right: 30px;
  margin-right: 10px;
  position: relative;
}
.c-button--with-arrow:hover {
  background-color: transparent;
}
.c-button--with-arrow:after {
  content: "";
  background: url("images/arrow-blue.svg") no-repeat center center/contain;
  height: 13px;
  margin-top: -6.5px;
  position: absolute;
  right: 0;
  top: 49%;
  width: 10px;
}

.c-button--move-back {
  background: transparent url("images/arrow-blue-thick-left.png") no-repeat 1px center;
  background-size: auto 1em;
  border: none;
  color: #000;
  padding-left: 26px;
}

.c-button--header {
  background: #FFFFFF;
  border-radius: 4px;
  border: thin solid #e0e0e0;
  display: block;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-weight: normal;
  text-align: center;
  margin-bottom: 10px;
  padding: 10px 20px;
}
.c-button--header .label {
  color: #000;
  display: inline;
  font-weight: normal;
  padding-right: 0.5em;
}

@media screen and (min-width: 769px) {
  .c-button--header {
    display: inline-block;
    font-size: 1.125em;
    margin-bottom: 0;
  }
  .c-button--header:after {
    margin-left: 3em;
  }
}
.list__title {
  border-bottom: 1px solid #e0e0e0;
  padding-bottom: 15px;
  margin-bottom: 10px;
}

.list__item {
  border-bottom: 1px solid #e0e0e0;
  color: #000;
  display: block;
  padding-bottom: 15px;
  margin-bottom: 15px;
  background: url("images/arrow-blue.svg") right 7px no-repeat;
  background-size: 18px 14px;
}

:focus {
  outline: none;
}

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #999999;
}

::-moz-placeholder {
  /* Firefox 19+ */
  color: #999999;
  opacity: 1;
}

:-ms-input-placeholder {
  /* IE 10+ */
  color: #999999;
}

input {
  margin: 0 0 20px 0;
  font-size: 1em;
}

input[type="tel"],
input[type="text"],
input[type="email"],
select {
  height: 37px;
  padding: 0 8px;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  max-width: 100%;
  width: 100%;
}
input[type="tel"]:focus,
input[type="text"]:focus,
input[type="email"]:focus,
select:focus {
  border-color: #c0c0c0;
}

select {
  font-size: 0.875em;
}

textarea {
  font-size: 1em;
  width: 100%;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  max-width: 100%;
  padding: 8px;
}
textarea:focus {
  border-color: #c0c0c0;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url("images/chosen-arrow-down.png") 96% 50% no-repeat #FFFFFF;
}

label {
  display: block;
}

.slider {
  color: #aaa;
  position: relative;
  border: 1px solid #e0e0e0;
  padding: 30px 60px;
}

.slider__max {
  position: absolute;
  top: 25px;
  right: 21px;
}

.slider__min {
  position: absolute;
  top: 25px;
  left: 25px;
}

/**
 * Jquery UI overrides.
 */
.ui-slider .slider__handle.ui-slider-handle {
  width: 2em;
  height: 2em;
  border-radius: 100px;
  top: 50%;
  margin-top: -1.05em;
  margin-left: -1.2em;
  text-align: center;
  line-height: 2em;
  padding: 1px 1px 0 0;
  background: #1f9ad7;
  color: #FFFFFF;
  cursor: pointer;
  border: none;
}

.ui-slider .slider__handle.ui-slider-handle:active {
  border: none;
}

.ui-slider.ui-widget.ui-widget-content {
  border: 1px solid #e0e0e0;
}

.chosen-container {
  font-size: inherit;
}

.chosen-container .chosen-single,
.chosen-container .chosen-search,
.chosen-container-single .chosen-single,
.chosen-container-single .chosen-search {
  border-color: #e0e0e0;
  line-height: 35px;
  height: auto;
  background: #FFFFFF;
  background-image: none !important;
  box-shadow: none;
}
.chosen-container .chosen-single div,
.chosen-container .chosen-search div,
.chosen-container-single .chosen-single div,
.chosen-container-single .chosen-search div {
  height: 100%;
}
.chosen-container .chosen-single div b,
.chosen-container .chosen-search div b,
.chosen-container-single .chosen-single div b,
.chosen-container-single .chosen-search div b {
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -11px;
}
.chosen-container .chosen-single span,
.chosen-container .chosen-search span,
.chosen-container-single .chosen-single span,
.chosen-container-single .chosen-search span {
  height: inherit;
  margin-right: 26px;
}
.chosen-container .chosen-single abbr,
.chosen-container .chosen-search abbr,
.chosen-container-single .chosen-single abbr,
.chosen-container-single .chosen-search abbr {
  top: 50%;
  margin-top: -6px;
  right: 34px;
}
.chosen-container .chosen-single-with-deselect span,
.chosen-container-single .chosen-single-with-deselect span {
  margin-right: 26px;
  padding-right: 26px;
}
.chosen-container .chosen-results li.highlighted,
.chosen-container-single .chosen-results li.highlighted {
  background: #1f9ad7;
}

.chosen-container-active .chosen-single {
  border: 1px solid #aaa;
}

.navbar {
  font-size: 1.05em;
  z-index: 5;
  border-bottom: 1px solid #A9A9A9;
  padding: 0;
}

.navbar__item {
  display: inline-block;
  margin-right: 30px;
}

.navbar__link {
  padding: 15px 0;
  margin-bottom: -1px;
  z-index: 10;
}

.navbar__link.is-active {
  display: block;
  border-bottom: 4px solid #1f9ad7;
}

.details__summary {
  background: url("images/arrow-blue-thin.svg") center right no-repeat;
  background-size: 15px;
  cursor: pointer;
}
.details__summary::-webkit-details-marker {
  display: none;
}

.details[open] .details__summary {
  background-image: url("images/arrow-down-blue.svg");
  background-size: 18px;
  margin-bottom: 12.5px;
}

@keyframes placeHolderShimmer {
  0% {
    background-position: -468px 0;
  }
  100% {
    background-position: 468px 0;
  }
}
.content-loading {
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeHolderShimmer;
  animation-timing-function: linear;
  background-color: #e0e0e0;
  background: linear-gradient(to right, #e0e0e0 8%, #e0e0e0 18%, #e0e0e0 33%);
  background-size: 800px 104px;
  position: relative;
  height: 17px;
}

.content-loading--full-width {
  width: 100%;
}

.content-loading--one-word {
  width: 50px;
}

.content-loading--two-thirds-width {
  width: 66%;
}

.content-loading--half-width {
  width: 50%;
}

.content-loading--vertical-space {
  margin-bottom: 13px;
}

.throbber-wrapper {
  position: relative;
  padding: 5%;
}

.throbber {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 50px;
}
.throbber:before {
  content: '';
  display: block;
  padding-top: 100%;
}

.throbber__image {
  animation: rotate 2s linear infinite;
  height: 100%;
  transform-origin: center center;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.throbber__path {
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  animation: dash 1.5s ease-in-out infinite, color 4.5s ease-in-out infinite;
  stroke-linecap: round;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124px;
  }
}
@keyframes color {
  100%,
  0%, 30% {
    stroke: #1f9ad7;
  }
  48%,
  60% {
    stroke: #C42E95;
  }
  75%,
  95% {
    stroke: #AAC506;
  }
}
.table {
  display: table;
  text-align: left;
  width: 100%;
}

.table__header {
  text-align: left;
  font-weight: bold;
  border-top: solid 1px #e6e6e6;
  border-bottom: solid 1px #e6e6e6;
  padding: 15px 10px;
}

.table__row {
  background: #fff;
  width: 100%;
  border-bottom: solid 1px #e6e6e6;
}

.table__row--odd {
  background: #fafafa;
}

.table__cell {
  padding: 15px 10px;
}

.table__label {
  font-weight: bold;
}

.table__sub-row:first-child .table__cell {
  padding-top: 15px;
  padding-bottom: 10px;
}
.table__sub-row:last-child .table__cell {
  padding-bottom: 15px;
}

.table--details details {
  font-weight: normal;
}
.table--details td:first-child {
  width: 10%;
}

.table--mobile .table__row:first-child {
  border-top: solid 1px #e0e0e0;
}
.table--mobile .table__label {
  display: none;
}

.table--mobile-headers .table__label {
  display: inline;
}

.table--two-column .table__cell {
  padding-top: 0;
  padding-bottom: 0;
}

.table--single-column .table__content:first-child {
  font-weight: bold;
  padding-bottom: 10px;
}
