<form>
  <label for="name" placeholder="Name">Name</label>
  <input type="text" id="name">

  <label for="tel">Telephone</label>
  <input type="tel" id="tel">

  <label for="email">Email address</label>
  <input type="email" id="email">

  <label for="textarea">Textarea</label>
  <textarea id="textarea" class="form-textarea" rows="5" cols="60" placeholder=""></textarea>

  <label>
    <input type="checkbox"> Remember me
  </label>

  <label>
    <input type="radio" name="herpderp" checked> Herp
  </label>
  <label>
    <input type="radio" name="herpderp"> Derp
  </label>

  <input type="submit" id="edit-submit" name="op" value="Submit" class="form-submit c-button c-button c-button--blue">
  <a href="#" class="c-button button--secondary" id="edit-return-link">Reset</a>
</form>
