<form>
  <label for="name">Name</label>
  <input type="text" id="name">

  <label for="email">Email address</label>
  <input type="email" id="email">

  <label>
    <input type="checkbox"> Remember me
  </label>

  <label>
    <input type="radio" name="herpderp" checked> Herp
  </label>
  <label>
    <input type="radio" name="herpderp"> Derp
  </label>

  <button class="c-button c-button--blue" type="submit">Submit</button>
</form>
