<a href="#" class="c-button {{modifier_class}}">Link Button</a>
<button class="c-button {{modifier_class}}">Button Element</button>
<input type="button" class="c-button {{modifier_class}}" value="input[type='button']"/>
