$icon_height: 13px;
$icon_width: 10px;

// Call to action submit or link buttons
//
// Markup: buttons.hbs
//
//.c-button--blue - This is the most common variation of the button. This should
//                  be used on all of the submit buttons.
//.c-button--blue:hover - The colors invert while the button is being hovered.
//.c-button--grey - This variation should be used on secondary buttons.
//.c-button--grey:hover - The colors invert while the button is being hovered.
//.c-button--with-arrow - This variation is used on links.
//
// Style guide: buttons.call-to-action
.c-button {
  font-size: 1em;
  line-height: 1.2em;
  display: inline-block;
  margin: 0; // reset system.theme.css margin
  background-color: white;
  color: $paragraphs;
  border: 1px solid $border-grey;
  border-radius: 5px;
  padding: 0.4em 17px 0.55em 17px; // bottom padding 3px more than top because of Lato's strange baseline
  &:hover, &.pseudo-class-hover {
    background-color: $slightly-dark-grey;
  }
}

.c-button--blue {
  background-color: $blue;
  color: $white;
  border: 1px solid $blue;
  &:hover, &.pseudo-class-hover {
    background-color: $white;
    color: $blue;
  }
}

.c-button--grey {
  background-color: $light-grey;
  color: $white;
  border: 1px solid transparent;
  &:hover, &.pseudo-class-hover {
    background-color: $white;
    border: 1px solid $grey;
    color: $grey;
  }
}

.c-button--with-arrow {
  border: none;
  padding-left: 0;
  padding-right: 30px;
  margin-right: 10px;
  position: relative;

  &:hover {
    background-color: transparent;
  }

  &:after {
    content: "";
    background: url('images/arrow-blue.svg') no-repeat center center / contain;
    height: $icon_height;
    margin-top: -1/2 * $icon_height;
    position: absolute;
    right: 0;
    top: 49%;
    width: $icon_width;
  }
}

.c-button--move-back {
  background: transparent url('images/arrow-blue-thick-left.png') no-repeat 1px center;
  background-size: auto 1em;
  border: none;
  color: $paragraphs;
  padding-left: 26px;
}

