// List of links
//
// Simple link list is being used in places where there is only one row of
// content and there is a link where to find more. This style is usually used in
// areas where there is limited amount of space available for the list such as
// blocks.
//
// Markup: list.twig
//
// Style guide: lists.simple

// @todo Move to some other file?
$vertical-rhythm: 25px;

.list__content {
  border-top: 1px solid $border-grey-v2;
  margin-bottom: $vertical-rhythm;
}

.list__item {
  border-bottom: 1px solid $border-grey-v2;
  padding-top: $vertical-rhythm / 2;
  padding-bottom: $vertical-rhythm / 2;
}

.list__item--link {
  padding-top: 0;
  padding-bottom: 0;
  // @todo Enable image-url().
  background: url('images/arrow-blue-thin.svg') no-repeat;
  background-size: auto 1em;
  background-position: right 10px center;
  transition: background .2s;

  &:hover {
    background-position: right 5px center;
  }

  a {
    display: block;
    color: inherit;
    padding-top: $vertical-rhythm / 2;
    padding-bottom: $vertical-rhythm / 2;
  }
}
