<div class="list {{modifier_class}}">
  <h2 class="list__title">List title</h2>
  <div class="list__content">
    <div class="list__item list__item--link">
      <a href="#">Lorem ipsum dolor sit amet</a>
    </div>
    <div class="list__item list__item--link">
      <a href="#">Lorem ipsum dolor sit amet</a>
    </div>
    <div class="list__item list__item--link">
      <a href="#">Lorem ipsum dolor sit amet</a>
    </div>
  </div>
  <a href="#">+ Show all</a>
</div>

