<div class="list {{modifier_class}}">
  <h2 class="list__title">List title</h2>
    <div class="list__wrapper">
      <div class="-list__content">
        <a href="#" class="list__item">
          <span class="list__text">Lorem ipsum dolor sit amet</span>
        </a>
        <a href="#" class="list__item">
          <span class="list__text">Lorem ipsum dolor sit amet</span>
        </a>
        <a href="#" class="list__item">
          <span class="list__text">Lorem ipsum dolor sit amet</span>
        </a>
      </div>
    </div>
  </div>
  <a href="#">+ Show all</a>
</div>

