$links: #1f9ad7;
$links-visited: #00688f;

// Link
//
// Simple link is being used in several places. 
//
// Markup: links.twig
//
// :visited - The colors is slightly darker in visited links.
//
// Style guide: typography.links

a {
  color: $links;
  &:visited {
    color: $links-visited;
  }
}
