$grey0: #f9f9f9;
$grey1: #efefef;
$grey2: #e0e0e0;
$grey3: #c0c0c0;
$grey4: #999999;

// Colors
//
// #1f9ad7 - : Main color
// #aac506 - : Secondary color
// #f9f9f9 - : Grey 0
// #efefef - : Grey 1
// #e0e0e0 - : Grey 2
// #c0c0c0 - : Grey 3
// #999999 - : Grey 4
//
// Markup: colors.twig
//
// Weight: 0
//
// Style guide: colors.colors

.styleguide-color {
  padding: 1em;
}
