<table class="table table--content">
<tr>
  <th>Date</th>
  <th>Dolor</th>
  <th>Lorem</th>
  <th>Ipsum</th>
  <th>Header</th>
  <th>Of</th>
  <th>Example</th>
</tr>
  <tr class="odd">  
    <td>11.12.2016</td>
    <td>Lorem</td>  
    <td>Lorem ipsum dolor sit amet</td>
    <td>2</td>  
    <td>1</td>
    <td>1</td>
    <td>tl/dr</td>
  </tr>
  <tr class="even">
    <td>11.12.2016</td>
    <td>Name</td>
    <td>Lorem</td>
    <td>44</td>
    <td>40</td>
    <td>40</td>
    <td>ipsum/dolor</td>
  </tr>
</table>