// Simple lists
//
// Simple lists are being used in places where there is only one row of content
// and there is a link where to find more. This style is usually used in areas
// where there is limited amount of space available for the list such as blocks.
//
// Markup: lists.hbs
//
// Style guide: lists.simple
.c-simple-list__title {
  border-bottom: 1px solid $border-grey;
  padding-bottom: 15px;
  margin-bottom: 10px;
}
.c-list-item {
  border-bottom: 1px solid $border-grey;
  color: $paragraphs;
  display: block;
  padding-bottom: 15px;
  margin-bottom: 15px;

  background: url('images/arrow-blue.svg') right 7px no-repeat;
  background-size: 18px 14px;
}
