<div class="c-simple-list {{modifier_class}}">
  <h2 class="c-simple-list__title">List title</h2>
    <div class="c-simple-list__wrapper">
      <div class="c-simple-list__content">

        <a href="#" class="c-list-item">
          <span class="c-list-item__text">Lorem ipsum dolor sit amet</span>
        </a>
        <a href="#" class="c-list-item">
          <span class="c-list-item__text">Lorem ipsum dolor sit amet</span>
        </a>
        <a href="#" class="c-list-item">
          <span class="c-list-item__text">Lorem ipsum dolor sit amet</span>
        </a>
      </div>
    </div>
  </div>
</div>

