// Color variables here.
$black: #000;
$blue: #1f9ad7;
$border-blue: #00B0DF;
$green: #AAC506;
$white: #FFFFFF;
$border-grey: #CCCCCC;
$border-grey-v2: #e6e6e6;
$border-dark-grey: #aaa;
$light-grey: #A9A9A9;
$grey: #666;
$dark-blue: #008cc8;
$slightly-dark-grey: #efefef;
$pink: #C42E95;

$paragraphs: $black;
$links: $blue;

// Backgrounds:
$body: #f5f5f5;
$header-background: $white;
$navigation-background: $blue;
$featured-bottom-background: $white;

$vertical-rhythm: 25px;
