<div class="throbber-wrapper">
  <div class="throbber">
    <svg class="throbber__image" viewBox="25 25 50 50">
      <circle class="throbber__path" cx="50" cy="50" r="20" fill="none" stroke-width="4" stroke-miterlimit="10"/>
    </svg>
  </div>
</div>
